body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  height: 100%;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  position: relative;
  width: 640px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 10px 5px 0px rgba(23, 23, 23, 0.4);
  border-radius: 7px;
}

.header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #333;
}

.form-container {
  text-align: center;
}

.binary-input {
  width: 60%;
  height: 30px;
  margin-top: 40px;
  margin-bottom: 95px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: #333;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.binary-input::placeholder {
  text-align: center;
  color: #333;
  opacity: 0.7;
}

.submit-button {
  margin: 0 auto;
  display: block;
  height: 60px;
  width: 150px;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  background-color: linear-gradient(to right, #EFEFBB 0%, #D4D3DD 51%, #EFEFBB 100%);
  border-radius: 7px;
  border-style: none;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: background-color .1s;
}



.submit-button:hover {
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);

}

.submit-button:hover:after {
  margin: 0 auto;
  display: block;
  height: 60px;
  width: 150px;
  font-size: 25px;
  font-weight: 300;
  background: linear-gradient(45deg, rgba(215, 54, 92, 0.9), rgba(215, 54, 92, 0.5), rgba(215, 54, 92, 0.9));

   background-size: 200% 200%;
   background-position: 0% 100%;
   animation-name: button_hover;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: alternate;
}

@keyframes button_hover {
  from {
  background-position: 0% 100%;
}
to {
  background-position: 100% 50%;
}
}

.decimal-input {
  width: 60%;
  margin-top: 100px;
  height: 30px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: #7D7D7D;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  cursor: not-allowed;

}
